streamlit==1.54.0
streamlit-option-menu==0.3.13
streamlit-folium==0.26.1
streamlit-aggrid==1.0.5
streamlit-extras==0.5.0
pandas==2.3.3
pillow==10.4.0
joblib==1.5.3
scikit-learn==1.8.0
matplotlib==3.10.8
openpyxl==3.1.5
msal==1.31.1
python-stdnum==1.20
firebase-admin==6.6.0
plotly==6.5.2
pytz==2025.2
requests==2.32.5
pyarrow==23.0.0